{% extends 'base.html.twig' %}

{% block title %}Superadmin{% endblock %}

{% block body %}

<section class="container-lg">
    <h2>Gestion des utilisateurs</h2>
        <table class="table table-responsive  table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Nom</th>
                    <th scope="col" class="text-center">Prénom</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in userData %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td class="text-end">
                            <a href="{{ path('app_management_user', {'modif': user.id }) }}" class="btn btn-success">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
{% endblock %}
