{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="container-lg">
    <h2>Bienvenue {{ app.user.firstName }} sur la page d'administration</h2>

    <p>Cette page est en construction.</p>
    <p>Vous êtes :</p>
    <p>{{ app.user.firstName }}</p>
    <p>{{ app.user.lastName }}</p>
    <p>{{ app.user.email }}</p>
    
</section>
{% endblock %}