{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Asso Animal</h1>
    <p>Acceuille</p>
</div>
{% endblock %}
