{% extends 'base.html.twig' %}

{% block title %}Hello EventPageController!{% endblock %}

{% block body %}
<section>
    {% for evenement in eventData %}
        <h2>{{ evenement.titleEvent }}</h2>
        <p>Date de début  : {{ evenement.startDate|date("d/m/Y") }}</p>
        <p>Date de fin : {{ evenement.endDate|date("d/m/Y") }}</p>
        <p>{{ evenement.descriptionEvent|raw }}</p>
    {% endfor %}
</section>
{% endblock %}