{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<section>
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h2>{{ article.titleArticle }}</h2>
        <p>{{ article.textArticle|raw }}</p>
    {% endfor %}
</section>
{% endblock %}
