{% extends 'base.html.twig' %}

{% block title %}Aider{% endblock %}

{% block body %}
<section class="container-lg">
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h3>{{ article.titleArticle }}</h3>
        <p>{{ article.textArticle|raw }}</p>
    {% endfor %}
</section>
{% endblock %}
